/* Color Palette
#142148 - nyNavy
#4B77AD - citySky
#5E6686 - nyPidgeonGrey
#EAEAEA - cityWhite
#EA5115 - dutchOrange

/* Global styles
---------------------------------------------------*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: 'Source Code Pro', monospace;
  font-weight: 300;
  margin: 0;
}
h1, h2, h3, h4{
font-family: 'Contrail One', cursive;
font-weight: 400;
}
h1 {
  font-size: 60px;
}
h2 {
  font-size: 30px;
  margin-top: 0;
}
h3 {
  margin: 0;
}
a {
  color: #EA5115;
}
a:hover {
  text-decoration: none;
}
.content-wrap {
  max-width: 950px;
  margin: 0 auto;
  padding: 50px;
  overflow: auto;
}
.col-narrow {
  width: 30%;
  float: left;
}
.col-wide {
  width: 70%;
  float: left;
  padding-left: 20px;
}
.uppercase {
  text-transform: uppercase;
}
/* Header and Footer
---------------------------------------------------*/
header, footer {
  background: #142148;
  color: #4B77AD;
}
/* header */
.profile-img {
  border-radius: 50%;
}
header {
  /* text-align: center; */
}
header h1, header h2 {
  color: #EAEAEA;
  margin: 0;
}
/* footer */
footer {
  text-align: center;
}

.contact-info a {
  padding: 10px;
  display: inline-block;
}

/* Work Experience
---------------------------------------------------*/
.work {
  background: #EAEAEA;
}
h3 ~ p {
  margin: 0;
}
.job-description {
  margin-bottom: 25px;
}
.job-description p:first-of-type {
  margin-top: 0;
}

/* Education
---------------------------------------------------*/
.education {
  background: #5E6686;
}
p + h3 {
  /*apply this style to any p that follows an h3*/
  margin-top: 30px;
}
